# Uses the Gitlab package registry to load @luciad packages
@luciad:registry=https://gitlab.devops/api/v4/projects/16/packages/npm/

'//gitlab.devops/api/v4/projects/16/packages/npm/:_authToken'="${GITLAB_AUTH_TOKEN}"

strict-ssl=false
engine-strict=true
