button,
.button {
  color: var(--white-color);
  border: 2px solid var(--white-color);
  cursor: pointer;
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  background: var(--bg-color-light);
  line-height: 1rem;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25rem;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: var(--orange-color-black);
    text-decoration: none;
  }

  &:active {
    background: var(--bg-color-dark);
  }

  &:disabled {
    cursor: not-allowed;
    background: none;

    &:active, &:hover {
      background: none;
    }
  }
}

select {
  color: var(--white-color);
  border: 2px solid var(--white-color);
  cursor: pointer;
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  background: var(--bg-color-light);
  line-height: 1rem;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.25rem;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: var(--orange-color-black);
    text-decoration: none;
  }

  &:active {
    background: var(--bg-color-dark);
  }

  &:disabled {
    cursor: not-allowed;
    background: none;

    &:active, &:hover {
      background: none;
    }
  }
}

.button-icon {
  padding: 0.25rem;
}

.button-flat {
  color: var(--purple-color);
  border: none;
  padding: 0.25rem;
  background: none;
  border-radius: 0;
}

a {
  color: var(--purple-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

iframe {
  border: none;
}

input {
  color: var(--white-color);
  border: none;
  font-size: 1rem;
  background: var(--second-bg-color);

  &:focus {
    outline: none;
  }
}

.hidden {
  display: none;
}
